*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

#jekyll
_drafts/
_site/
.DS_Store
*.swp
_jekyll_s3.yml
upload.py
s3_website.yml
Gemfile.lock
